.card {
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  background: #1C1C21;
}

.card:last-of-type {
  margin-bottom: 0;
}

.header {
  display: flex;
  justify-content: space-between;
}

.main {
  display: flex;
  justify-content: space-between;
}

.components {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.component {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: linear-gradient(to right, #801AB2,#4C4CFF);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.component:nth-of-type(2n) {
  margin-left: -16px;
  z-index: 4;
}

.component:nth-of-type(3n) {
  margin-left: -16px;
  z-index: 3;
}

.component:nth-of-type(4n) {
  margin-left: -16px;
  z-index: 2;
}

.component:nth-of-type(5n) {
  margin-left: -16px;
  z-index: 1;
}

.component:nth-of-type(6n) {
  margin-left: -16px;
  z-index: 0;
}

.component:nth-of-type(n+7) {
  display: none;
}

.component:nth-of-type(6n)::before {
  content: '';
  display: block;
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  top: 2px;
  background-color: #131316;
  opacity: .6;
}

.image {
  object-fit: cover;
  width: 60px;
  height: 60px;
  background: #131316;
  border-radius: 50%;
}

.span {
  display: none;
  position: absolute;
}

.component:nth-child(6)>.span {
  display: block;
}

.price {
  display: flex;
  align-items: center;
  gap: 9px;
}