.section {
  width: 50%;
  margin: 0;
  box-sizing: border-box;
}

.categories {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style-type: none;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.price {
  display: flex;
}

.button {
  width: 200px;
  height: 56px;
  margin: 0;
  padding: 0;
  background-color: inherit;
  color: inherit;
  border: none;
  box-shadow: inset 0px -1px 0px #2F2F37;
  cursor: pointer;
}

.button_active {
  box-shadow: inset 0px -2px 0px #4C4CFF;
}